*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#demo{
	max-width: 1200px;
	background-color: blue;
	margin: 100px auto 0px;
	padding: 20px;
	height: auto;
	
}
.icon{
	width: 31px;
    height: 4px;
    background-color:#ffffff;
     margin: 4px 0;

}
.menu_icon{
	float: left;
	padding-right: 9px;	
}
.title{
	font-size: 20px;
	color: white;
	font-weight: 700;
}
#todo{
	max-width: 1200px;
	background-color: #fff;
	margin: 20px auto;
	
	
}
#demo input{
	border: none;
	padding: 9px 2px;
	border-radius: 5px;
}
#todo input{
	width: 1000px;
}
table{
	max-width: 100%;
	margin: 0px auto;
}
th{
	text-align: center;
	align-items: center;
}
